@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Medicinal-font";
  src: url(/src/assets/Fonts/MedicinalFont.otf);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
  --color-muted: #888888;
  --color-accent: #ffffff;
}

@layer base {
  body {
    /* @apply bg-background text-foreground antialiased selection:bg-white selection:text-black; */
    /* font-feature-settings: "ss01", "ss02", "cv01", "cv02"; */
    background-color: #0f0f0f;
  }
}

.gsap-reveal {
  opacity: 0;
  transform: translateY(30px);
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Medicinal-font", sans-serif;
    letter-spacing: normal;
    font-weight: 400;
}

input::placeholder,
textarea::placeholder{
  color: rgb(51, 51, 51);
}